*{


margin: 0;
padding: 0;

}


body {

background: #222;


}

.card {

width: 90%;
max-width: 500px;
background: linear-gradient(135deg, #00feba, #5b548a);
color: #fff;
margin: 100px auto 0;
border-radius:  20px;
text-align: center; 
padding-top: 150px;
padding-bottom: 150px;
padding-right: 14px;
padding-left: 14px;
}

.search{

width: 100%;
display: flex;
align-items: center;
justify-content: space-between;

}

.search input {

border: 0;
outline: 0;
background: #ebebeb;
color: #555;
padding: 10px 25px;
height: 60px;
border-radius: 30px;
flex: 1;
margin-right: 18px;
font-size: 18px;



}

.search button {

border: 0;
outline: 0;
background-color: #ebfffc;
width: 60px;
height: 60px;
cursor: pointer;
border-radius: 50%;

}


.search button img {
width: 16px;



}


.weather-icon {


width: 170px;
margin-top: 30px;


}


.weather h1 {

font-size: 80px;
font-weight: 500;


}

.weather h2 {

    font-size: 45px;
    font-weight: 400;
    margin-top: 11px;

    
    
    }


    .details {

display: flex;
align-items: center;
justify-content: space-between;

padding: 0 20px;
margin-top: 50px;



    }


    .col {

display: flex;
align-items: center;
text-align: left;

    }

    .col img{

width: 40px;
margin-right: 10px;


    }


    .weather{


display: none;


    }

    
.error{

display: none;

}


.weather{

display: none;

}

.card h1{

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
margin-bottom: 15px;

}